# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with `YOUR IMPORT TEXT HERE`

In [60]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint  # Useful for pretty-printing the MongoDB documents

In [61]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)  # You might want to specify the host too, default is 'localhost'.

In [62]:
# Confirm that our new database was created
# Create an instance of MongoClient
client = MongoClient('mongodb://localhost:27017/')  # Correct MongoDB URI format for local connection

# Access the 'uk_food' database
db = client['uk_food']

# You can check if a specific database has been created by listing databases. 
# MongoDB creates the database only after data is inserted into it.
print(client.list_database_names())  # This will print a list of all databases on the MongoDB server.

['admin', 'config', 'fruit_db', 'local', 'uk_food']

In [63]:
# List all databases to confirm 'uk_food' is listed
print(client.list_database_names())

['admin', 'config', 'fruit_db', 'local', 'uk_food']

 List Collections in 'uk_food' Database:

In [64]:
# List collections to confirm 'establishments' is there
print(db.list_collection_names())  # Lists all collections in the 'uk_food' database

['establishments']

Assign the 'uk_food' Database to a Variable

In [65]:
# Assign the 'uk_food' database to a variable name
db = client['uk_food']

Review Collections in the Database

In [66]:
# 7# Review the collections in our new database
collections = db.list_collection_names()  # List all collections in the 'uk_food' database
print(f"Collections in 'uk_food' database: {collections}")  # Print collections to confirm

Collections in 'uk_food' database: ['establishments']

 Assign the 'establishments' Collection to a Variable

In [67]:
# 8# Assign the 'establishments' collection to a variable
establishments = db['establishments']  # Now the 'establishments' collection is assigned to 'establishments' variable

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [68]:
# Create a dictionary for the new restaurant data
new_restaurant = {
    "BusinessName": "The Golden Spoon",
    "BusinessType": "Restaurant",
    "AddressLine1": "123 Gourmet Avenue",
    "AddressLine2": "",
    "AddressLine3": "",
    "AddressLine4": "",
    "PostCode": "XY12 3AB",
    "Phone": "01234 567890",
    "RatingValue": 5,
    "RatingDate": "2024-09-16"
}

In [69]:
# Insert the new restaurant into the 'establishments' collection
insert_result = establishments.insert_one(new_restaurant)

In [70]:
# Check that the new restaurant was inserted
print(f"New restaurant inserted with id: {insert_result.inserted_id}")

New restaurant inserted with id: 66f228ffd9e5d9b05afa8490

In [71]:
# Retrieve and print all documents in the 'establishments' collection
all_entries = establishments.find()  # Using find() without a filter to get all documents

from pprint import pprint
print("All restaurants in the 'establishments' collection:")

# Loop through and print each document in the collection
for entry in all_entries:
    pprint(entry)  # Pretty-print each document

All restaurants in the 'establishments' collection:
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7b4977fdb20184b3aad3f'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7b5197fdb20184b3aad40'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7ba467fdb20184b3aad43'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7c1a67fdb20184b3aad46'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e8afd154ab1bf63c724675'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e8bfc754ab1bf63c724679'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e8c28ab53de022455c2615'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e8c2ceb12e77716ad75872'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66f22426d9e5d9b05afa848c'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66f2243fd9e5d9b05afa848d'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66f228ffd9e5d9b05afa8490')}

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [72]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen"
business_type = establishments.find_one(
    {"BusinessType": "Restaurant/Cafe/Canteen"},  # Query filter
    {"BusinessTypeID": 1, "BusinessType": 1, "_id": 0}  # Projection to include BusinessTypeID, exclude _id
)

# Print the result
from pprint import pprint
print("BusinessTypeID for 'Restaurant/Cafe/Canteen':")
pprint(business_type)

BusinessTypeID for 'Restaurant/Cafe/Canteen':
None

In [73]:
# Alternatively using "if, else"
if business_type:
    pprint(business_type)
else:
    print("No document found with BusinessType 'Restaurant/Cafe/Canteen'.")

No document found with BusinessType 'Restaurant/Cafe/Canteen'.

3. Update the new restaurant with the `BusinessTypeID` you found.

In [74]:
# Confirm the update by retrieving the updated restaurant
updated_restaurant = establishments.find_one({"BusinessName": "The Golden Spoon"})

# Check if the document exists and print it
if updated_restaurant:
    print("Updated details for 'The Golden Spoon':")
    from pprint import pprint
    pprint(updated_restaurant)
else:
    print("No restaurant found with the name 'The Golden Spoon'.")

Updated details for 'The Golden Spoon':
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7b4977fdb20184b3aad3f'),
 'latitude': None,
 'longitude': None}

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [75]:
# Find how many documents have LocalAuthorityName as "Dover"
dover_count = establishments.count_documents({"LocalAuthorityName": "Dover"})

# Print the result
print(f"Number of documents with LocalAuthorityName 'Dover': {dover_count}")

Number of documents with LocalAuthorityName 'Dover': 0

In [76]:
# Delete all documents where LocalAuthorityName is "Dover"
# Delete all documents where LocalAuthorityName is "Dover"
delete_result = establishments.delete_many({"LocalAuthorityName": "Dover"})
print(f"Number of documents deleted: {delete_result.deleted_count}")

Number of documents deleted: 0

In [77]:
# Check if any remaining documents include Dover
remaining_dover_documents = establishments.count_documents({"LocalAuthorityName": "Dover"})
print(f"Documents remaining with LocalAuthorityName 'Dover': {remaining_dover_documents}")

Documents remaining with LocalAuthorityName 'Dover': 0

In [78]:
# Check that other documents remain with 'find_one'
other_document = establishments.find_one()

# Check that other documents still exist in the collection
if other_document:
    from pprint import pprint
    print("Another document still exists in the 'establishments' collection:")
    pprint(other_document)  # Print one of the remaining documents
else:
    print("No other documents exist in the 'establishments' collection.")

Another document still exists in the 'establishments' collection:
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7b4977fdb20184b3aad3f'),
 'latitude': None,
 'longitude': None}

5. Some of the number values are stored as strings, when they should be stored as numbers.

Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [79]:
# Convert `latitude` and `longitude` fields to decimal numbers in all documents
result = establishments.update_many(
    {},  # Empty filter {} to target all documents in the collection
    [
        {
            "$set": {
                "latitude": { "$toDouble": "$latitude" },   # Convert latitude to a decimal number
                "longitude": { "$toDouble": "$longitude" }  # Convert longitude to a decimal number
            }
        }
    ]
)

# Print the number of documents that were updated
print(f"Number of documents updated: {result.modified_count}")

Number of documents updated: 1

Use `update_many` to convert `RatingValue` to integer numbers.

In [80]:
# Convert `RatingValue` field to integer in all documents
result = establishments.update_many(
    {},  # Empty filter {} to target all documents in the collection
    [
        {
            "$set": {
                "RatingValue": { "$toInt": "$RatingValue" }  # Convert RatingValue to an integer
            }
        }
    ]
)

# Print the number of documents that were updated
print(f"Number of documents updated: {result.modified_count}")

Number of documents updated: 0

In [81]:
# Set non 1-5 Rating Values to Null
# Use the update_many method to convert longitude and latitude to decimal
from pymongo import UpdateOne

# Build a list of updates
bulk_updates = []

# Find all documents where Longitude and Latitude are strings and need conversion
documents = establishments.find({
    "Longitude": {"$type": "string"},
    "Latitude": {"$type": "string"}
})

# Iterate over the documents and prepare bulk updates
for doc in documents:
    bulk_updates.append(
        UpdateOne(
            {"_id": doc["_id"]},  # Use the document's ID to identify it
            {
                "$set": {
                    "Longitude": {"$toDecimal": doc["Longitude"]},
                    "Latitude": {"$toDecimal": doc["Latitude"]}
                }
            }
        )
    )

# Execute the bulk update
if bulk_updates:
    result = establishments.bulk_write(bulk_updates)
    print(f"Updated {result.modified_count} documents.")
else:
    print("No documents with string Longitude and Latitude found.")

No documents with string Longitude and Latitude found.

In [82]:
# Change the data type from String to Integer for RatingValue
# Check the format of RatingValue in a sample document
db = establishments.find_one({}, {"RatingValue": 1, "_id": 0})
pprint(db)

{'RatingValue': 5}

In [83]:
# Check that the coordinates and rating value are now numbers
updated_doc = establishments.find_one({}, {"RatingValue": 1, "Longitude": 1, "Latitude": 1, "_id": 0})
pprint(updated_doc)

{'RatingValue': 5}