# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with `YOUR IMPORT TEXT HERE`

In [3]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint  # Useful for pretty-printing the MongoDB documents

In [4]:
# Connect to MongoDB (assuming MongoDB is running on localhost and default port 27017)
client = MongoClient("mongodb://localhost:27017/")

In [9]:
# List all databases to confirm that 'uk_food' is in the list
print(client.list_database_names())

['admin', 'config', 'fruit_db', 'local', 'uk_food']

 Access the uk_food Database and List Its Collections

In [10]:
# Access the 'uk_food' database
db = client['uk_food']

# List collections in the 'uk_food' database to ensure 'establishments' is present
print(db.list_collection_names())

['establishments']

In [11]:
# Access the 'establishments' collection
establishments = db['establishments']

# Find and display one document from the 'establishments' collection using find_one
document = establishments.find_one()
pprint(document)

{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7b4977fdb20184b3aad3f'),
 'latitude': None,
 'longitude': None}

Review Collections in the Database

In [35]:
# 7# Review the collections in our new database
collections = db.list_collection_names()  # List all collections in the 'uk_food' database
print(f"Collections in 'uk_food' database: {collections}")  # Print collections to confirm

Collections in 'uk_food' database: ['establishments']

 Assign the 'establishments' Collection to a Variable

In [36]:
# 8# Assign the 'establishments' collection to a variable
establishments = db['establishments']  # Now the 'establishments' collection is assigned to 'establishments' variable

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

Create a Dictionary for "Penang Flavours

In [38]:
# Step 1: Create a dictionary for "Penang Flavours"
penang_flavours = {
    "BusinessName": "Penang Flavours",
    "BusinessType": "Restaurant/Cafe/Canteen",
    "AddressLine1": "123 Malaysia Street",
    "AddressLine2": "",
    "AddressLine3": "",
    "AddressLine4": "London",
    "PostCode": "W1D 5BL",
    "RatingValue": None,  # Not rated yet
    "LocalAuthorityName": "Westminster",
    "Geocode": {
        "longitude": -0.131,
        "latitude": 51.511
    },
    "Scores": {
        "Hygiene": None,  # Not rated yet
        "Structural": None,  # Not rated yet
        "ConfidenceInManagement": None  # Not rated yet
    },
    "BusinessTypeID": 1,  # Assuming this is the same for "Restaurant/Cafe/Canteen"
    "Halal": False  # Assuming the restaurant is not halal (adjust if necessary)
}

# Step 2: Insert the new restaurant into the 'establishments' collection
establishments.insert_one(penang_flavours)

# Step 3: Verify the insertion by finding and printing the new document
pprint(establishments.find_one({"BusinessName": "Penang Flavours"}))

{'AddressLine1': '123 Malaysia Street',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': 'London',
 'BusinessName': 'Penang Flavours',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'Geocode': {'latitude': 51.511, 'longitude': -0.131},
 'Halal': False,
 'LocalAuthorityName': 'Westminster',
 'PostCode': 'W1D 5BL',
 'RatingValue': None,
 'Scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None},
 '_id': ObjectId('66f9f9d7b5144297d141429b')}

Create a Dictionary for "Restaurant/Cafe/Canteen"

In [39]:
# Create a dictionary for the new restaurant data
new_restaurant = {
    "BusinessName": "New Restaurant",
    "BusinessType": "Restaurant/Cafe/Canteen",
    "AddressLine1": "123 High Street",
    "AddressLine2": "",
    "AddressLine3": "",
    "AddressLine4": "London",
    "PostCode": "E1 6AN",
    "RatingValue": "5",  # Assuming rating is a string in the data
    "LocalAuthorityName": "Tower Hamlets",
    "Geocode": {
        "longitude": -0.0711,
        "latitude": 51.5201
    },
    "Scores": {
        "Hygiene": 5,
        "Structural": 5,
        "ConfidenceInManagement": 5
    }
}
# Insert the new restaurant into the 'establishments' collection
establishments.insert_one(new_restaurant)

# Verify the insertion by finding and printing the newly inserted document
pprint(establishments.find_one({"BusinessName": "New Restaurant"}))

{'AddressLine1': '123 High Street',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': 'London',
 'BusinessName': 'New Restaurant',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'Geocode': {'latitude': 51.5201, 'longitude': -0.0711},
 'LocalAuthorityName': 'Tower Hamlets',
 'PostCode': 'E1 6AN',
 'RatingValue': '5',
 'Scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5},
 '_id': ObjectId('66f9f204b5144297d1414299')}

In [19]:
# Retrieve and print all documents in the 'establishments' collection
all_entries = establishments.find()  # Using find() without a filter to get all documents

from pprint import pprint
print("All restaurants in the 'establishments' collection:")

# Loop through and print each document in the collection
for entry in all_entries:
    pprint(entry)  # Pretty-print each document

All restaurants in the 'establishments' collection:
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7b4977fdb20184b3aad3f'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7b5197fdb20184b3aad40'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7ba467fdb20184b3aad43'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7c1a67fdb20184b3aad46'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e8afd154ab1bf63c724675'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e8bfc754ab1bf63c724679'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e8c28ab53de022455c2615'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e8c2ceb12e77716ad75872'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66f22426d9e5d9b05afa848c'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66f2243fd9e5d9b05afa848d'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66f228ffd9e5d9b05afa8490'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66f2301c8a7472b7ba7fa15c'),
 'latitude': None,
 'longitude': None}
{'AddressLine1': '123 High Street',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': 'London',
 'BusinessName': 'New Restaurant',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'Geocode': {'latitude': 51.5201, 'longitude': -0.0711},
 'LocalAuthorityName': 'Tower Hamlets',
 'PostCode': 'E1 6AN',
 'RatingValue': '5',
 'Scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5},
 '_id': ObjectId('66f9f204b5144297d1414299')}

 Create a Dictionary for the New Halal Restaurant

In [34]:
# Step 1: Create a dictionary for the new halal restaurant
new_halal_restaurant = {
    "BusinessName": "Greenwich Halal Restaurant",
    "BusinessType": "Restaurant/Cafe/Canteen",
    "AddressLine1": "10 Greenwich High Road",
    "AddressLine2": "",
    "AddressLine3": "",
    "AddressLine4": "Greenwich",
    "PostCode": "SE10 8JQ",
    "RatingValue": None,  # Not rated yet
    "LocalAuthorityName": "Greenwich",
    "Geocode": {
        "longitude": 0.0098,
        "latitude": 51.4781
    },
    "Scores": {
        "Hygiene": None,
        "Structural": None,
        "ConfidenceInManagement": None
    },
    "Halal": True  # Custom field to indicate it's a halal restaurant
}

# Insert the new restaurant into the 'establishments' collection
establishments.insert_one(new_halal_restaurant)

# Verify the insertion
pprint(establishments.find_one({"BusinessName": "Greenwich Halal Restaurant"}))

{'AddressLine1': '10 Greenwich High Road',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Greenwich Halal Restaurant',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'Geocode': {'latitude': 51.4781, 'longitude': 0.0098},
 'Halal': True,
 'LocalAuthorityName': 'Greenwich',
 'PostCode': 'SE10 8JQ',
 'RatingValue': None,
 'Scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None},
 '_id': ObjectId('66f9f849b5144297d141429a')}

Update the New Restaurant with BusinessTypeID

In [40]:
# Update the new restaurant with BusinessTypeID
# Assuming BusinessTypeID for "Restaurant/Cafe/Canteen" is 1
business_type_id = 1

# Update the 'BusinessTypeID' field for "Greenwich Halal Restaurant"
establishments.update_one(
    {"BusinessName": "Greenwich Halal Restaurant"},  # Query to find the document
    {"$set": {"BusinessTypeID": business_type_id}}   # Update operation to set BusinessTypeID to 1
)

# Step 5: Verify the update by retrieving and printing the updated document
updated_restaurant = establishments.find_one({"BusinessName": "Greenwich Halal Restaurant"})
print("Updated document for 'Greenwich Halal Restaurant':")
pprint(updated_restaurant)

Updated document for 'Greenwich Halal Restaurant':
{'AddressLine1': '10 Greenwich High Road',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Greenwich Halal Restaurant',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'Geocode': {'latitude': 51.4781, 'longitude': 0.0098},
 'Halal': True,
 'LocalAuthorityName': 'Greenwich',
 'PostCode': 'SE10 8JQ',
 'RatingValue': None,
 'Scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None},
 '_id': ObjectId('66f9f849b5144297d141429a')}

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [46]:
# Find the document where BusinessType is "Restaurant/Cafe/Canteen" and return only BusinessTypeID and BusinessType
result = establishments.find_one(
    {"BusinessType": "Restaurant/Cafe/Canteen"},  # Query to match the business type
    {"BusinessTypeID": 1, "BusinessType": 1, "_id": 1}  # Projection to return only BusinessTypeID and BusinessType, exclude _id
)

# Print the result
pprint(result)

{'BusinessType': 'Restaurant/Cafe/Canteen',
 '_id': ObjectId('66f9f204b5144297d1414299')}

3. Update the new restaurant with the `BusinessTypeID` you found.

In [47]:
# Confirm the update by retrieving the updated restaurant
updated_restaurant = establishments.find_one({"BusinessName": "Greenwich Halal Restaurant"})

# Check if the document exists and print it
if updated_restaurant:
    print("Updated details for 'Greenwich Halal Restaurant':")
    from pprint import pprint
    pprint(updated_restaurant)
else:
    print("No restaurant found with the name 'Greenwich Halal Restaurant'.")

Updated details for 'Greenwich Halal Restaurant':
{'AddressLine1': '10 Greenwich High Road',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Greenwich Halal Restaurant',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'Geocode': {'latitude': 51.4781, 'longitude': 0.0098},
 'Halal': True,
 'LocalAuthorityName': 'Greenwich',
 'PostCode': 'SE10 8JQ',
 'RatingValue': None,
 'Scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None},
 '_id': ObjectId('66f9f849b5144297d141429a')}

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [48]:
# Step 1: Count the number of establishments with Local Authority 'Dover'
dover_count = establishments.count_documents({"LocalAuthorityName": "Dover"})
print(f"Number of establishments in Dover: {dover_count}")

Number of establishments in Dover: 0

In [49]:
# Step 2: Remove all establishments with Local Authority 'Dover'
delete_result = establishments.delete_many({"LocalAuthorityName": "Dover"})
print(f"Number of establishments removed from Dover: {delete_result.deleted_count}")

Number of establishments removed from Dover: 0

In [50]:
# Step 3: Confirm deletion by counting again
remaining_dover_count = establishments.count_documents({"LocalAuthorityName": "Dover"})
print(f"Number of establishments in Dover after deletion: {remaining_dover_count}")

Number of establishments in Dover after deletion: 0

In [52]:
# Check that other documents remain with 'find_one'
other_document = establishments.find_one()

# Check that other documents still exist in the collection
if other_document:
    from pprint import pprint
    print("Another document still exists in the 'establishments' collection:")
    pprint(other_document)  # Print one of the remaining documents
else:
    print("No other documents exist in the 'establishments' collection.")

Another document still exists in the 'establishments' collection:
{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7b4977fdb20184b3aad3f'),
 'latitude': None,
 'longitude': None}

5. Some of the number values are stored as strings, when they should be stored as numbers.

Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

Convert latitude and longitude to Decimal Numbers

In [53]:
# Convert latitude and longitude from strings to decimal numbers
establishments.update_many(
    {"Geocode.latitude": {"$type": "string"}, "Geocode.longitude": {"$type": "string"}},  # Query to find documents with latitude/longitude stored as strings
    [
        {
            "$set": {
                "Geocode.latitude": {"$toDouble": "$Geocode.latitude"},  # Convert latitude to double
                "Geocode.longitude": {"$toDouble": "$Geocode.longitude"}  # Convert longitude to double
            }
        }
    ]
)

# Verify the update by finding a sample document
pprint(establishments.find_one({"Geocode.latitude": {"$exists": True}, "Geocode.longitude": {"$exists": True}}))

{'AddressLine1': '123 High Street',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': 'London',
 'BusinessName': 'New Restaurant',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'Geocode': {'latitude': 51.5201, 'longitude': -0.0711},
 'LocalAuthorityName': 'Tower Hamlets',
 'PostCode': 'E1 6AN',
 'RatingValue': '5',
 'Scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5},
 '_id': ObjectId('66f9f204b5144297d1414299')}

Convert RatingValue to Integer

In [55]:
# Convert RatingValue from string to integer
establishments.update_many(
    {"RatingValue": {"$type": "string"}},  # Query to find documents with RatingValue stored as a string
    [
        {
            "$set": {
                "RatingValue": {"$toInt": "$RatingValue"}  # Convert RatingValue to integer
            }
        }
    ]
)

# Verify the update by finding a sample document
pprint(establishments.find_one({"RatingValue": {"$exists": True}}))

{'AddressLine1': '123 Gourmet Avenue',
 'AddressLine2': '',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'The Golden Spoon',
 'BusinessType': 'Restaurant',
 'Phone': '01234 567890',
 'PostCode': 'XY12 3AB',
 'RatingDate': '2024-09-16',
 'RatingValue': 5,
 '_id': ObjectId('66e7b4977fdb20184b3aad3f'),
 'latitude': None,
 'longitude': None}

Use `update_many` to convert `RatingValue` to integer numbers.

In [59]:
# Connect to the MongoDB database
client = MongoClient('mongodb://localhost:27017/')
db = client['your_database']  # Replace with your database name
collection = db['your_collection']  # Replace with your collection name

# Update all documents to convert RatingValue to an integer
collection.update_many(
    {"RatingValue": {"$exists": True}},  # Filter for documents with RatingValue
    [{'$set': {'RatingValue': {'$toInt': '$RatingValue'}}}]  # Convert to integer
)

# Optional: Print the updated documents to verify
updated_documents = collection.find({"RatingValue": {"$exists": True}})
updated_documents

In [22]:
# Set non 1-5 Rating Values to Null
# Use the update_many method to convert longitude and latitude to decimal
from pymongo import UpdateOne

# Build a list of updates
bulk_updates = []

# Find all documents where Longitude and Latitude are strings and need conversion
documents = establishments.find({
    "Longitude": {"$type": "string"},
    "Latitude": {"$type": "string"}
})

# Iterate over the documents and prepare bulk updates
for doc in documents:
    bulk_updates.append(
        UpdateOne(
            {"_id": doc["_id"]},  # Use the document's ID to identify it
            {
                "$set": {
                    "Longitude": {"$toDecimal": doc["Longitude"]},
                    "Latitude": {"$toDecimal": doc["Latitude"]}
                }
            }
        )
    )

# Execute the bulk update
if bulk_updates:
    result = establishments.bulk_write(bulk_updates)
    print(f"Updated {result.modified_count} documents.")
else:
    print("No documents with string Longitude and Latitude found.")

No documents with string Longitude and Latitude found.

In [23]:
# Change the data type from String to Integer for RatingValue
# Check the format of RatingValue in a sample document
db = establishments.find_one({}, {"RatingValue": 1, "_id": 0})
pprint(db)

{'RatingValue': 5}

In [24]:
# Check that the coordinates and rating value are now numbers
updated_doc = establishments.find_one({}, {"RatingValue": 1, "Longitude": 1, "Latitude": 1, "_id": 0})
pprint(updated_doc)

{'RatingValue': 5}

In [ ]:
Within your notebook, import the libraries you need: PyMongo and Pretty Print (pprint).
List the databases you have in MongoDB. Confirm that uk_food is listed.
List the collection(s) in the database to ensure that establishments is there.
Find and display one document in the establishments collection using find_one and display with pprint.
Assign the establishments collection to a variable to prepare the collection for use
# Import dependencies
# Create an instance of MongoClient
# Import dependencies